.build
.mbed
projectfiles
*.py*
mbed-os
BUILD

.clangd
.cache
compile_commands.json
VL53L0X
ST_INTERFACES
X_NUCLEO_COMMON
HTS221
LIS3MDL
LPS22HB
LSM303AGR
LSM6DSL
HTS221/ST_INTERFACES
HTS221/X_NUCLEO_COMMON
LIS3MDL/ST_INTERFACES
LIS3MDL/X_NUCLEO_COMMON
LPS22HB/ST_INTERFACES
LPS22HB/X_NUCLEO_COMMON
LSM303AGR/ST_INTERFACES
LSM303AGR/X_NUCLEO_COMMON
LSM6DSL/ST_INTERFACES
LSM6DSL/X_NUCLEO_COMMON
